body {
    margin: 0;
    background-color:  #F9F7EF;
}

img { 
    width: 100%;
}

 .instagram {
    width: 50%;
}

.facebook {
    width: 50%;
}

.web {
    font-size: 1em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo > a > img {
    width: 20%;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

nav > ul  {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
}

ul > li {
    padding: 0 40px;
}

 a {
    color: black;
    font-family: "Nanum Pen Script";
    font-size: 2em;
}

li > a:link {
    color: #0d0d0d;
  }
li > a:visited {
    color: #0d0d0d;
  }
  li > a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
  li > a:active {
    color: #0d0d0d;
  }

  .web:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
 

  .content-contact {
    max-width: 1000px;
    margin: 0 auto;
}

.content-contact > div {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}

#contact {
    font-size: 5em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 600;
}

div > .contact-footer {
    margin: auto;
}

.contact-footer {
    font-size: 1.7em;
    color: black;
    font-family: "Nanum Pen Script"; 
}

.mailbox {
    border:1px solid #000000;
    display: inline-block;
    padding: 5px;
    background-color: white;
    font-family: "Nanum Pen Script"; 
    font-size: 1em;
    margin: auto;
}

.footer-ul {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
    margin:0 0 20px 0;
}
 
  

h2 {
    font-size: 5.5em;
    margin: 100px auto 50px auto;
    color: black;
    font-family: "Nanum Pen Script";
    padding-left: 100px;
    font-weight: 500;
}


.box17{
        
    margin:2em 0;
    position: relative;
    padding: 2em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}


.box17  {
    display: flex;
    margin: 0 auto 150px auto;
    max-width: 1000px;
}

.aboutme-left {
    max-width: 700px;
}

.aboutme-right {
    max-width: 300px;
}

.aboutme-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}


.aboutme-icon {
    display: flex;
}

.name1 {
    font-size: 4em;
    color: black;
    font-family: "Nanum Pen Script"; 
}

.name2 {
    font-size: 2em;
    color: black;
    font-family: "Nanum Pen Script"; 
    margin: 20px;
}

.aboutme-name > .name2 {
    text-align: center;
}

.aboutme-table > th {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 10px 30px;
    font-weight: 100;
    text-align: left;
}

.aboutme-icon {
    margin-left: 30px;
    margin-top: 20px;
}

.aboutme-text {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
}

.profile-text {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
    line-height: 2em;
}

.history-content {
    max-width: 1000px;
    margin: 0 auto 100px auto;
}

th {
    font-size: 1em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
    font-weight: 200;
    text-align: left;
}

.number {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    font-weight: 200;
    text-align: left;
}

.hr1 {
    height: 3px;
    margin: 150px  auto 100px auto;
    max-width: 1000px;
        border: none;
        background:linear-gradient(to right, white, gray, white);
        height: 3px;
}

.hr2 {
    height: 3px;
    margin: 100px auto 150px auto;
    max-width: 1000px;
        border: none;
        background:linear-gradient(to right, white, gray, white);
        height: 3px;
}











@media screen and (min-width: 520px) {
    .humbergermenu {
        display: none;
    }
}




@media screen and (max-width: 520px) {

    main {
        margin: 0 auto;
       }
   
       img {
           width: 100%;
       }

       .content-contact > div {
        display: block;
        margin: 0px auto;
        padding: 0 40px;
        text-align: center;
    }

    .mailbox {
        margin-top: 20px;
    }

    
   

    .box17 {
        display: block;
    }

    .profile-text {
        font-size: 1em;
    }

    .menu {
        display: none;
    }


    h2 {
        font-size: 4em;
        padding-left: 10px;
    }


    .aboutme-name {
        display: block;
    }

    .history-text {
        width: 100%;
      }
      table.history-text th,
      table.history-text td {
        display: block;
        border-bottom:none;
      }
      .history-text tr:last-child{
        border-bottom: solid 1px #ccc;
      }












    .menu-btn {
        position: fixed;
        top: 10px;
        right: 5px;
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #68B3E0;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    
    .footer-ul > .none {
        display: none;
    }

    .footer-ul > li {
        padding: 0;
    }


    .box17 {
        margin: 0 10px;
    }

    .logo > a > img {
        width: 40%;
    }

    
}







