body {
    margin: 0;
    background-color:  #F9F7EF;
}

img { 
    width: 100%;
}


 .instagram {
    width: 50%;
}

.facebook {
    width: 50%;
}

.web {
    font-size: 1em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo > a > img {
    width: 20%;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

nav > ul  {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
}

ul > li {
    padding: 0 40px;
}

 a {
    color: black;
    font-family: "Nanum Pen Script";
    font-size: 2em;
}

li > a:link {
    color: #0d0d0d;
  }
li > a:visited {
    color: #0d0d0d;
  }
  li > a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
  li > a:active {
    color: #0d0d0d;
  }

  .web:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
 

  .ccu-sns {
    width: 7%;
    margin: auto;
  }

  .ccu {
    font-size: 2em;
    margin-bottom: 0px;
  }
  
 
  

h2 {
    font-size: 5.5em;
    
    color: black;
    font-family: "Nanum Pen Script";
    padding-left: 100px;
    font-weight: 500;
}

.hr1 {
    height: 3px;
    margin: 150px  auto 100px auto;
    max-width: 1000px;
        border: none;
        background:linear-gradient(to right, white, gray, white);
        height: 3px;
}

.hr2 {
    height: 3px;
    margin: 100px auto 150px auto;
    max-width: 1000px;
        border: none;
        background:linear-gradient(to right, white, gray, white);
        height: 3px;
}

.content-contact {
    max-width: 1000px;
    margin: 0 auto;
}

.content-contact > div {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}

#contact {
    font-size: 5em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 600;
}

div > .contact-footer {
    margin: auto;
}

.contact-footer {
    font-size: 1.7em;
    color: black;
    font-family: "Nanum Pen Script"; 
}

.mailbox {
    border:1px solid #000000;
    display: inline-block;
    padding: 5px;
    background-color: white;
    font-family: "Nanum Pen Script"; 
    font-size: 1em;
    margin: auto;
}

.footer-ul {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
    margin:0 0 20px 0;
}

.bottom-photo {
    margin: 20px 0;
}

.h2-content {
    display: flex;
    justify-content: left;
}

.p-text {
    font-size: 2em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 300;
   margin: auto 0 auto 20px;
}


.content {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 3em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 400; 
}

.content-box {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px 30px;
}


p {
    font-size: 1.2em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 300; 
    text-align: center;
}

.content-box > p > img {
    width: 80%;
}

.text {
   text-align: start;
   width: 80%;
   margin: auto;
}


.viewmore-blog {
    font-size: 1em;
    color: black;
    font-family: "Nanum Pen Script";
    text-align: right;
    font-weight: 200;
    margin:  100px auto;
    width: 80%;
}

.bd-solid {
    border-bottom: 1px solid black;
}

.team {
    font-size: 1em;
}








@media screen and (min-width: 520px) {
    .humbergermenu {
        display: none;
    }
}




@media screen and (max-width: 520px) {

    main {
        margin: 0 auto;
       }
   
       img {
           width: 100%;
       }

       .content-contact > div {
        display: block;
        margin: 0px auto;
        padding: 0 40px;
        text-align: center;
    }

    .mailbox {
        margin-top: 20px;
    }

    
    ul > li {
        padding-top: 40px;
    }

    .menu {
        display: none;
    }

    

    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #68B3E0;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    
    .footer-ul > .none {
        display: none;
    }

    .footer-ul > li {
        padding: 0;
    }

    

    .h2-content {
        display: block;
    }

    .h2 {
        padding-left: 0px;
        text-align: center;
        margin-bottom: 0;
    }

    .p-text {
        margin: auto;
    }
    

    .ccu-sns {
        width: 20%;
    }

    .logo > a > img {
        width: 40%;
    }

    #contact {
        font-size: 3.5em;
     }
    
     .contact-footer {
        font-size: 1em;
     }
    
     h2 {
        font-size: 3.5em;
        padding-left: 0;
        text-align: center;
     }
    
     .p-text {
        font-size: 1.3em;
     }
    
     h3 {
        font-size: 1.5em;
     }
    
     p {
        font-size: 1em;
     }
    
}