body {
    margin: 0;
    background-color:  #F9F7EF;
}

img { 
    width: 100%;
}

 .icon-about-fb {
    margin-left: 20px;
 }

.web {
    font-size: 1em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

 .logo > a > img {
    width: 15%;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

nav > ul  {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
}


 a {
    color: black;
     font-family: "Nanum Pen Script";
    font-size: 1.5em;
}

li > a:link {
    color: #0d0d0d;
  }
li > a:visited {
    color: #0d0d0d;
  }
  li > a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
  li > a:active {
    color: #0d0d0d;
  }

  .web:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }
 
  
 
  

h2 {
    font-size: 5em;
    color: black;
     font-family: "Nanum Pen Script"; 
    margin: 100px;
    font-weight: 500;
}

.mainvisual {
    max-width: 1300px;
    margin: 0 auto;
}


.content-about {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
}


.about-left {
    width: 50;
    margin: auto;
}

.about-right {
    margin: auto;
    
}


.icon-about {
    display: flex;
    margin-top: 20px;
}





.about-left > .name { 
    font-size: 4.5em;
    font-weight:500;
    color: black;
     font-family: "Nanum Pen Script";
    margin: 0;
}

.about-text {
    font-size:2em;
    color: black;
    font-family: 'Nanum Pen Script';
    font-weight: 300;
}

.myprofile {
    color: black;
     font-family: "Nanum Pen Script";
    text-align: right;
    font-weight: 200;
}


.a-view {
    font-size: 1em;
}

.content-works {
    max-width: 1000px;
    margin: auto;
}

.content-works > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.content-works-li {
    width: 30%;
}

.content-photograph-li {
    width: 30%;
}

.content-blog-li {
    width: 30%;
}

h3 {
    font-size: 4em;
    color: black;
     font-family: "Nanum Pen Script";
    text-align: center;
    font-weight: 400;
}


h4 {
    font-size: 1.5em;
    color: black;
     font-family: "Nanum Pen Script";
    text-align: center;
    font-weight: 300;
    margin: 20px 0;
}

.viewmore {
    font-size: 1.5em;
    color: black;
     font-family: "Nanum Pen Script";
    text-align: right;
    font-weight: 200;
    padding-right: 40px;
    margin-bottom: 100px;
}

.content-photograph {
    max-width: 1000px;
    margin: auto;
}

.content-photograph > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.photograph-text {
    font-size: 1em;
    color: black;
     font-family: "Nanum Pen Script";
    font-weight: 300;
    padding-left: 40px;
}

.content-blog {
    max-width: 1000px;
    margin: auto;
}

.top-blog > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.bottom-blog > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.bottom-blog > ul > li {
    margin-top: 50px;
}

.box{
    border:1px solid #000000;
    display: inline-block;
    text-align: right;
    padding: 5px;
    background-color: white;
    }

    .box1 {
        text-align: right;
    }

    .blog-text {
        font-size: 1em;
        color: black;
        font-family: "Nanum Pen Script";
        font-weight: 300;
       
    }

    .viewmore-blog {
        font-size: 1.5em;
        color: black;
         font-family: "Nanum Pen Script";
        text-align: right;
        font-weight: 200;
        margin: 50px auto;
        width: 40%;
    }

    .hr1 {
        height: 3px;
        margin: 150px  auto 100px auto;
        max-width: 1000px;
            border: none;
            background:linear-gradient(to right, white, gray, white);
            height: 3px;
    }

    .hr2 {
        height: 3px;
        margin: 100px auto 150px auto;
        max-width: 1000px;
            border: none;
            background:linear-gradient(to right, white, gray, white);
            height: 3px;
    }

    .content-contact {
        max-width: 1000px;
        margin: 0 auto;
    }

    .content-contact > div {
        display: flex;
        justify-content: space-around;
        margin: 0px auto;
    }

    #contact {
        font-size: 5em;
        color: black;
         font-family: "Nanum Pen Script";
        font-weight: 600;
    }

    div > .contact-footer {
        margin: auto;
    }

    .contact-footer {
        font-size: 1.7em;
        color: black;
         font-family: "Nanum Pen Script";
    }

    .mailbox {
        border:1px solid #000000;
        display: inline-block;
        padding: 5px;
        background-color: white;
         font-family: "Nanum Pen Script"; 
        font-size: 1em;
        margin: auto;
    }

    .footer-ul {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-left: 0;
        margin:0 0 20px 0;
    }

    .bottom-photo {
        margin: 20px 0;
    }

    .more-box {
        color: black;
         font-family: "Nanum Pen Script";
        font-size: 1.5em;
        
    }

    .aboutme-content > .box17 {
       margin: auto;
    }

.box17{
        
    margin:2em 0;
    position: relative;
    padding: 2em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}


.box17  {
    display: flex;
    margin: 100px 50px;
    max-width: 1000px;
}

.aboutme-left {
    max-width: 500px;
}

.aboutme-right {
    max-width: 300px;
    margin: auto;
}

.aboutme-fb {
    margin-left: 20px;
}

.aboutme-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}

.aboutme-icon {
    display: flex;
}

.name1 {
    font-size: 4em;
    color: black;
    font-family: "Nanum Pen Script"; 
}

.name2 {
    font-size: 2em;
    color: black;
    font-family: "Nanum Pen Script"; 
    margin: 20px;
}

.aboutme-name > .name2 {
    text-align: center;
}

.aboutme-table > th {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 10px 30px;
    font-weight: 100;
    text-align: left;
}

.aboutme-icon {
    margin-left: 30px;
    margin-top: 20px;
}

.aboutme-text {
    font-size: 1.3em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
}

.profile-content > .box17 {
    margin: auto;
}

.profile-text {
    font-size: 1.3em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
    line-height: 2em;
}

.history-content {
    max-width: 1000px;
    margin: 0 auto 100px auto;
}

th {
    font-size: 1em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
    font-weight: 200;
    text-align: left;
}

.number {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script"; 
    font-weight: 200;
    text-align: left;
}




.myworks-content {
    max-width: 1300px;
    margin: 0 auto;
}

.myworks1 > ul {
    display: flex;
    justify-content: space-between;
}


.myworks-photograph {
    max-width: 1300px;
    margin: 0 auto;
}

.photograph1 > ul {
    display: flex;
    justify-content: space-between;
}

.photograph1-text {
    font-size: 1em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 300;
    padding-left: 80px;
}


.viewmore {
    font-size: 1.5em;
    color: black;
    font-family: "Nanum Pen Script";
    text-align: right;
    font-weight: 200;
    padding-right: 40px;
    margin-bottom: 100px;
}



.h2-content {
    display: flex;
    justify-content: left;
}

.h2-content-contact {
    display: flex;
    justify-content: left;
}



.p-text {
    font-size: 2em;
    color: black;
    font-family: "Nanum Pen Script";
    font-weight: 300;
   margin: auto 20px;
}

.p-text-contact {
    font-size: 1.7em;
    margin: auto 0 auto 20px;
    font-family: "Nanum Pen Script";
}

#blog {
    margin: 100px 0px;
}

#contact {
    margin: 30px 0px;
}

.nav-ul-li {
    margin: auto 20px;
}

.footer-ul > li {
    margin: auto 20px;
}


.textbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    height: 40px;
    width: 60%;
    margin-bottom: 50px;
}

.textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 60%;
    height: 300px;
}

.label {
    color: black;
    font-size: 2em;
    font-family: "Nanum Pen Script";
    font-weight: bold;
}

.form {
    text-align: left;
    width: 60%;
    margin: auto;
}


input {
    margin-bottom: 50px;
}

.submit > input {
    font-size: 1.3em;
    width: 5em;
    height: 3em;
    margin-top: 50px;
}


.contact {
    width: 1000px;
    width: auto;
    text-align: center;
}



.blog-content > p > img {
    width: 40%;
}

.blog-content{
   text-align: center;
}

.text {
    text-align: start;
    width: 40%;
    margin: auto;
    font-family: "Nanum Pen Script";
}

.blog-h3 {
    font-size: 2.5em;
    margin: 0px auto 80px auto;
    font-family: "Nanum Pen Script";
}

.ccu-sns  {
    width: 5%;
   margin: auto;
}

.instagram {
    border-radius: 10px;
}

.facebook {
    border-radius: 10px;
}


.footer-instagram {
    border-radius: 10px;
}

.footer-facebook {
    border-radius: 10px;
}

.team {
   font-size: 1.3em;
}

.team:visited {
    color: #0d0d0d;
}

.phone-mainvisual {
    display: none;
}

.works-h3 {
    margin-top: 100px;
}




@media screen and (min-width: 520px) {
    .humbergermenu {
        display: none;
    }

    
}




@media screen and (max-width: 520px) {

    .mainvisual {
        display: none;
    }

    .phone-mainvisual {
        display: inline;
    }

    main {
        margin: 0 auto;
       }
   
       img {
           width: 100%;
       }

       
    .content-about {
        margin: auto 30px;
    }

    .menu {
        display: none;
    }

    .content-works > .content-works-ul {
       display: block;
    }

    .content-works-li {
        margin: 30px auto;
        width: 60%;
    }

    .content-photograph > ul{
        display: block;
    }

    .content-photograph-li {
        margin: 30px auto;
        width: 60%;
    }


    .photograph-text {
        width: 80%;
        padding-left: 0;
        margin: auto;
    }

    h2 {
        padding-left: 0;
        font-size: 2.5em;
        margin: 50px 20px;
    }



    .about-right {
        padding-left: 0;
        width: 50%;
    }

    .about-left {
        padding-right: 0;
        width: 50%;
        margin: auto;
    }

    .icon-about-insta {
        width: 10%;
    }

    .icon-about-fb {
        width: 10%;
    }

    .top-blog > ul {
        display: block;
    }

    .bottom-blog > ul {
        display: block;
    }

    .top-blog > ul > li {
        margin: 40px auto;
        width: 60%;
    }

    .bottom-blog > ul > li {
        margin: 40px auto;
        width: 60%;
    }


    .content-contact > div {
        display: block;
        text-align: center;
    }

    #contact {
        margin: auto;
    }

    .mailbox {
        margin-top: 10px;
    }

    .menu-content-ul > li {
        padding: 0px;
    }

    h3 {
        font-size: 1.5em;
    }

    
 .about-left > .name {
    font-size: 1.2em;
 }

 .about-text {
    font-size: 0.8em;
    margin: 0px;
 }

 #contact {
    font-size: 2.5em;
 }

 .contact-footer {
    font-size: 1em;
 }

 .myprofile {
    margin: 0px 10px 0px 0px;
 }

 .box {
    padding: 2px;
 }

 .more-box {
    color: black;
    font-family: "Nanum Pen Script";
    font-size: 1em;
}
   
 a {
    font-size: 1em;
}

.web {
    font-size: 1em;
}

h4{
    font-size: 1em;
}

.a-view {
    font-size: 0.8em;
}


.hr1 {
    height: 3px;
    margin: 100px  auto 50px auto;
    border: none;
    background:linear-gradient(to right, white, gray, white);
     height: 3px;
}

.hr2 {
    height: 3px;
    margin: 50px auto 100px auto;
    border: none;
    background:linear-gradient(to right, white, gray, white);
    height: 3px;
}

    











    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #68B3E0;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    .footer-ul > .nav-ul-li-none {
        display: none;
    }

    .footer-ul > .nav-ul-li {
        width: 10%;
    }

    .logo > a > img {
        width: 40%;
    }

    .footer-ul {
        margin: 0px auto 10px auto;
    }


.aboutme-name {
    margin-right: 0px;
}


.aboutme-icon {
    display: flex;
}



.box17  {
    display: flex;
    margin: 100px 50px;
    max-width: 1000px;
}

.aboutme-right {
    margin-left: 10px;
}

.name1 {
    font-size: 1em;
}

.name2 {
    font-size: 0.8em;
}

.aboutme-text {
    font-size: 0.8em;
    padding: 0px;
}

.aboutme-table > th {
    padding: 3px;
    font-size: 0.7em;
}

.aboutme-icon > div {
    width: 10%;
}

.aboutme-icon {
    margin-top: 5px;
    margin-left: 0px;
}


.profile-text {
    font-size: 0.8em;
    color: black;
    font-family: "Nanum Pen Script"; 
    padding: 20px;
    line-height: 2em;
}

.number {
    font-size: 1em;
    padding: 10px;
}

th {
    font-size: 0.8em;
}

.photograph-text {
    font-size: 0.8em;
}

.p-text {
    font-size: 1em;
}

.blog-text {
    font-size: 0.8em;
}

.contact-h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto 0px auto;
}

.p-text-contact {
    font-size: 1em;
    margin: auto auto 50px auto;
    font-family: "Nanum Pen Script";
    text-align: center;
}


.h2-content-contact {
    display: block;
}

.label {
    font-size: 1.3em;
}

.textbox {
    height: 30px;
}

.textarea {
    height: 200px;
}

.text {
    font-size: 0.8em;
    font-family: "Nanum Pen Script";
    width: 60%;
}

.blog-h3 {
    font-size: 1.3em;
    margin-bottom: 30px;
}


.ccu-sns  {
    width: 5%;
   margin: auto;
}

.blog-content > p > img{
    width: 60%;
}
.submit > input {
    width: 3em;
    height: 2em;
}

.viewmore-blog {
    width: 60%;
}

.viewmore {
    padding-right: 0px;
    width: 60%;
    margin: 0px auto 100px auto;
}

.works-h3 {
    margin-top: 100px;
}
}
